<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login Form Template</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/form-elements.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <style>
        body{
            background-size:cover;
            background:url(../assets/img/backgrounds/1.jpg)  no-repeat center center;
        }
    </style>
</head>
<body onload="check()">

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>万泰电子后台系统</strong> 欢迎登录 </h1>
                    <div class="description">
                        <p>
                            您可以选择普通用户名密码登录<br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>后台登录</h3>
                            <h5 v-if="abc"><p v-model="error"></p></h5>
                            <a class="btn btn-link-2" href="/fowardUser/toFowardUser">
                                <i class="fa fa-twitter"></i> 用户注册
                            </a>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom" id="app">
                        <form role="form"  method="post" class="login-form" onsubmit="return check()">
                            <div class="form-group">
                                <label class="sr-only">账户</label>
                                <input type="text" name="username" v-model="username" placeholder="用户名" class="form-username form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">密码</label>
                                <input type="password" name="password" v-model="password" placeholder="密码" class="form-password form-control" id="passWord">
                            </div>
                            <button type="button" class="btn" @click="toLogin" >Sign in!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Javascript -->
<script src="../assets/js/jquery-1.11.1.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery.backstretch.min.js"></script>
<script src="../assets/js/scripts.js"></script>

</body>
<script>
    function check(){
    }
    new Vue({
        el:'#app',
        date:{
            username:"",
            password:"",
            abc:false,
            error:""
        },
        methods:{
         toLogin: function () {
            //alert(this.username)
            var self = this;
            if (this.username == null || this.password == null || this.username.trim() == "" || this.password.trim() == "") {
                alert("请填写用户名和密码");
            } else {
                axios.post('/power/userLogin', {
                    'username': self.username,
                    'password': self.password
                }).then(function (response) {
                    //alert(1111);
                    var msg = response.data;
                    //alert(JSON.stringify(response.data))
                    if (msg == 1) {
                        location.href = "/power/wel";
                    } else if (msg == 2) {
                        alert("用户名不存在")
                        location.href = "/power/toLogin";
                    } else if (msg == 3) {
                        alert("用户名和密码错误")
                        location.href = "/power/toLogin";
                    } else if (this.username != "" || this.password == "") {
                        alert("不能为空")
                        location.href = "/power/toLogin";
                    } else {
                        alert("weizhiyichang")
                        location.href = "/power/toLogin";
                    }
                });
            }
        }
    }
    });
</script>
</html>