<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gongyongqin.demo.dao.BuyDao">
    <select id="buyListBy" resultType="map">
        select * from buy
<!--
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
        </where>
-->
    </select>
    <insert id="buyAdd" >
        insert into buy VALUES (null,#{price},#{equ_vendor},#{buy_time})
    </insert>
    <update id="buyUpdate">
        update buy set
        price=#{price},
        equ_vendor=#{equ_vendor},
        buy_time=#{buy_time}
        where
        id=#{id}
    </update>
    <delete id="buyDelete">
        delete from buy where id = #{id}
    </delete>
    <delete id="buyDel">
        delete from buy where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>