<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gongyongqin.demo.dao.DeptDao">
    <select id="buyListBy" resultType="map">
        select * from buy
        <!--<where>
            <if test="d_name != null and d_name !=''">
                and d_name = #{d_name}
            </if>
        </where>-->
    </select>
    <insert id="buyAdd" >
        insert into buy VALUES (null,#{price},#{equ_vendor},str_to_date(#{buy_time},'%Y-%m-%d'))
    </insert>
    <update id="buyUpdate">
        update dept set
        price=#{price},
        equ_vendor=#{equ_vendor},
        buy_time=#{buy_time},
        where
        id=#{id}
    </update>
    <delete id="buyDelete">
        delete from buy where id = #{id}
    </delete>
    <delete id="buyDel">
        delete from buy where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>