<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gongyongqin.demo.dao.EquipmentDao">
    <select id="EquipmentListBy" resultType="map">
        select * from equipment
        <where>
            <if test="equ_Name != null and equ_Name !=''">
                        and equ_name = #{equ_Name}
            </if>
        </where>
    </select>
    <insert id="EquipmentAdd" >
        insert into equipment VALUES (null,#{equ_id},#{equ_name},#{equ_vendor},#{price},#{others})
    </insert>
    <update id="EquipmentUpdate">
        update equipment set
        equ_id=#{equ_id},
        equ_name=#{equ_name},
        equ_vendor=#{equ_vendor},
        other=#{other}
        where
        id=#{id}
    </update>
    <delete id="EquipmentDelete">
        delete from equipment where id = #{id}
    </delete>
    <delete id="EquipmentDel">
        delete from equipment where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>